---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tagged/{{ tag | safeSlug }}/
layout: layouts/grid-tagged.njk
class: tagpage
eleventyComputed:
  title: “Products & Recipes Tagged “{{ tag | safe }}””
  metaDescription: “All Products, Recipes and News tagged with “{{ tag | safe }}””
  description: “Products and Recipes tagged with “{{ tag | safe }}””
---



{% set postslist = collections['tag'] | reverse %}
{% include "components/postlist/postslist-tagged.njk" %}