<section class="grid-4-columns newssum recipes" >
	{% for post in postslist %}
<summary class="recipessummary fade-in">


<div class="radiussumimage">
<a href="{{ post.url | url }}" ><img src="{{ post.data.image }}/tr:w-400,h-300" alt="{{ post.data.title }}" title="{{ post.data.title }}" width="400px" height="auto" class="postlistimg"></a>
</div>


<div class="recipessumnewstitle">
<h3 class="recipes-title"><a class="eventtitle" href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  >{{ post.data.title }}</a></h3>
</div>
	
</summary>
		
	{% endfor %}
</section>