<section class="grid-4-columns summary4" >
	{% for post in postslist %}
<summary class="changssummary">


<div class="radiussum4image">
{% if post.data.video %}<div class="flexcenter-summaryvideo">Video</div>{% endif %}<a href="{{ post.url | url }}" ><img src="{{ post.data.image }}/tr:w-500,h-333" alt="{{ post.data.title }}" title="{{ post.data.title }}" width="500px" height="auto" class="recipehome4img"></a>
</div>


<div class="sum4title">
<h3 class="sum-title"><a class="eventtitle" href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  >{{ post.data.title }}</a></h3>
</div>

	
</summary>
		
	{% endfor %}
</section>