<section class="grid-4-columns summary4" >
	{% for post in postslist %}
<summary class="changssummary productsum fade-in">


<div class="radiussum4image">
<a href="{{ post.url | url }}" ><img src="{{ post.data.image }}/tr:w-400,h-400" alt="{{ post.data.title }}" title="{{ post.data.title }}" width="400" height="400" class="producthome4img"><span class="image-overlay">
<span class="overlay-home">
{% if post.data.description %}
<div class="servesprepdif">
<p class="postsumshort">{{ post.data.description }}</p>
</div>
{% endif %}
</span>
</span>     
</a>
</div>


<div class="sum4title">
<h3 class="sum-title"><a class="eventtitle" href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  >{{ post.data.title }}</a></h3>
</div>

	
</summary>
		
	{% endfor %}
</section>