<section class="grid-3-columns summary3" >
	{% for post in postslist %}
<summary class="changssummary fade-in">


<div class="radiussum3image">
<a href="{{ post.url | url }}" ><img src="{{ post.data.image }}/tr:w-500,h-333" alt="{{ post.data.title }}" title="{{ post.data.title }}" width="500px" height="auto" class="recipehome3img"><span class="image-overlay">
<span class="overlay-home">
{% if post.data.description %}
<div class="servesprepdif">
<p class="postsumshort">{{ post.data.description }}</p>
</div>
{% endif %}
{% if post.data.preptime %}
<div class="servesprepdif">
<p><span class="blogsumhomered">Prep time: </span>{{ post.data.preptime }}</p>
</div>
{% endif %}
{% if post.data.cookingtime %}
<div class="servesprepdif">
<p><span class="blogsumhomered">Cooking time: </span>{{ post.data.cookingtime }}</p>
</div>
{% endif %}
{% if post.data.difficulty %}
<div class="servesprepdif">
<p><span class="blogsumhomered">Difficulty: </span>{{ post.data.difficulty }}</p>
</div>
{% endif %}
</span>
</span>     
</a>
</div>


<div class="sum4title">
<h3 class="sum-title"><a class="eventtitle" href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  >{{ post.data.title }}</a></h3>
</div>

	
</summary>
		
	{% endfor %}
</section>