<div class="grid-4-homeboxes">
  <!-- box 1 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/recipes/thai-basil-chicken-eggplant-noodle-bowl/" title="Thai Basil Chicken & Eggplant Noodle Bowl" alt="Thai Basil Chicken & Eggplant Noodle Bowl">
        <img src="https://ik.imagekit.io/webtactics/changs/static/img/recipes/Thai-Basil-Chicken-Eggplant-Noodle-Bowl/Thai-Basil-Chicken-Eggplant-Noodle-Bowl.jpg/tr:w-400,h-269"alt="Thai Basil Chicken & Eggplant Noodle Bowl" title="Thai Basil Chicken & Eggplant Noodle Bowl" width="400px" height="269px" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Thai Basil Chicken & Eggplant Noodle Bowl</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
          <a href="/products/changs-original-oyster-sauce/" alt="Chang's Original Oyster Sauce" title="Chang's Original Oyster Sauce">View product</a>
        </div>
        <div class="flex-captionbutton">
         
      <a href="/recipes/thai-basil-chicken-eggplant-noodle-bowl/" class="button success homebox" title="Thai Basil Chicken & Eggplant Noodle Bowl" alt="Thai Basil Chicken & Eggplant Noodle Bowl">View recipe</a>
          </div>
      </div>
    </div>
  </div>
  <!-- end box 1 -->

  <!-- box 2 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/recipes/easy-honey-soy-chicken-noodle-bowl/" title="Easy Honey Soy Chicken Noodle Bowl">
        <img src="https://ik.imagekit.io/webtactics/changs/static/img/recipes/Easy-Honey-Soy-Chicken-Noodle-Bowl/Easy-Honey-Soy-Chicken-Noodle-Bowl.jpg/tr:w-400,h-269" alt="Easy Honey Soy Chicken Noodle Bowl" title="Easy Honey Soy Chicken Noodle Bowl" width="400px" height="269px" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Easy Honey Soy Chicken Noodle Bowl</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
           <a href="/products/changs-original-oyster-sauce/" alt="Chang's Original Oyster Sauce" title="Chang's Original Oyster Sauce">View product</a>
        </div>
        <div class="flex-captionbutton">
      
      <a href="/recipes/easy-honey-soy-chicken-noodle-bowl/" class="button success homebox" title="Easy Honey Soy Chicken Noodle Bowl" alt="Easy Honey Soy Chicken Noodle Bowl">View recipe</a>

        </div>
      </div>
    </div>
  </div>
  <!-- end box 2 -->

  <!-- box 3 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/recipes/" title="View our recipes section">
        <img src="https://ik.imagekit.io/webtactics/changs-media/assets/homeboxes/Prawn-Pad-See-Ew-1-400x267__hRtdI3Ash.jpg?updatedAt=1712034502244" alt="View our recipes section" title="View our recipes section" width="400px" height="auto" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>View our recipes and get ready to cook!</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink"></div>
        <div class="flex-captionbutton">
            <a href="/recipes/" class="button success homebox" title="View our recipes section" alt="View our recipes section">View recipes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end box 3 -->

  <!-- box 4 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/products/" title="View our products" alt="View our products">
        <img src="https://ik.imagekit.io/webtactics/changs-media/assets/homeboxes/products-400x267_3RKoYTps1.jpg?updatedAt=1712017301702" alt="View our products" title="View our products" width="400px" height="auto" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>View our product range to see what you need.</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink"></div>
        <div class="flex-captionbutton">
          <a href="/products/" class="button success homebox" title="View our products" alt="View our products">View products</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end box 4 -->
</div>
