<!--image -->
<div class="grid-3">
{% for image in galleryimages %}
<div class="galleryimgwrapper">

<a class="galleryimgwrapper-link" href="https://ik.imagekit.io/webtactics/changs/static/img/products/{{ image.url }}" data-lightbox="recipe-set" data-title="{{ title }}" alt="{{ title }}" title="{{ title }}">

<img class="galleryimgwrapper-image" src="https://ik.imagekit.io/webtactics/changs/static/img/products/{{ image.url }}?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}" title="{{ title }}"/></a>
</div>
{% endfor %}
</div>
<!--end image -->