{% set js %}
{% include "assets/js/combined.js" %}
{% include "assets/js/script.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>


<script>
$('.home-slide').slick({
  autoplay: true,
  infinite: true,
  pauseOnHover: false,
  swipeToSlide: true,
  autoplaySpeed: 1000,
  speed: 6000,
  arrows: false,
  dots: false,
  fade: true,
  cssEase: 'ease'
    
  });
  </script>

  <script>
  const modal = document.querySelector('#my-modal');
  const openBtn = document.querySelector('#open-modal');
  const closeBtn = document.querySelector('#close-modal');

  openBtn.addEventListener('click', () => {
    modal.showModal(); // Native dialog method
  });

  closeBtn.addEventListener('click', () => {
    modal.close();
  });

  // Optional: Close when clicking outside the modal box
  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.close();
    }
  });
</script>