<head>
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="view-transition" content="same-origin">


<link rel="icon" type="image/png" sizes="96x96" href="{{metadata.url}}/static/assets/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{metadata.url}}/static/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{metadata.url}}/static/assets/favicon-16x16.png">
<link rel="icon" type="image/svg+xml" href="{{metadata.url}}/static/assets/favicon.svg" />
<link rel="shortcut icon" href="{{metadata.url}}/static/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{metadata.url}}/static/assets/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="PMFresh" />
<link rel="manifest" href="{{metadata.url}}/static/assets/site.webmanifest" />

<link rel="canonical" href="{{metadata.url}}{{page.url}}">
<title>{{ title or metadata.title }} | {{ metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}" />
<meta property="og:url" content="{{metadata.url}}{{page.url}}" />


{% set css %}
    {% include "assets/css/changs-grid.css" %}
     {% include "assets/css/lightbox-gallery.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>


<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)

{if(f.fbq)return;n=f.fbq=function(){n.callMethod?

n.callMethod.apply(n,arguments):n.queue.push(arguments)};

if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';

n.queue=[];t=b.createElement(e);t.async=!0;

t.src=v;s=b.getElementsByTagName(e)[0];

s.parentNode.insertBefore(t,s)}(window, document,'script',

'https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1272533330944786');

fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1272533330944786&ev=PageView&noscript=1"/></noscript>
<!-- End Meta Pixel Code -->
</head>
