<section class="sliderbox">
 
<div class="hero hide-for-print">
    <picture><source media="(max-width: 600px)" srcset="  https://ik.imagekit.io/webtactics/changs-media/tr:w-600,h-600/slider/240330-oriental-fried-noodle-salad-1600x800-q80_8v2Y2poyp.jpg?updatedAt=1711758991374"><source media="(min-width: 601px)" srcset="  https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-760/slider/240330-oriental-fried-noodle-salad-1600x800-q80_8v2Y2poyp.jpg?updatedAt=1711758991374"><img aria-hidden="true" decoding="async" src="  https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-760/slider/240330-oriental-fried-noodle-salad-1600x800-q80_8v2Y2poyp.jpg?updatedAt=1711758991374" alt="Bringing authentic Asian cooking to Aussie kitchens since 1968" title="Bringing authentic Asian cooking to Aussie kitchens since 1968" width="1600" height="760"></picture>



    <div class="content homeherobox">
        <div class="flex-caption fade-in appear">
            <div class="flex-captionh1box">
                <h1 class="white">Bringing authentic Asian cooking to Aussie kitchens since 1968</h1>
            </div>
                <div class="flex-captionwhitebox">
                    <div class="flex-captionp"><p>Home of the famous Crispy Noodle Salad</p>
                    </div>
                        <div class="flex-captionbuttonbox grid-2-flex-caption">
                            <div class="flex-captionprodlink">
                            <a href="https://www.changs.com/products/Changs-Original-Fried-Noodles/" alt="Chang's Original Fried Noodles" title="Chang's Original Fried Noodles">View product</a>
                            </div>

                                <div class="flex-captionbutton">
                                    <div class="text-centerflex"><a href="/recipes/Crispy-Noodle-Salad/" class="button success home" alt="Home of the famous Crispy Noodle Salad" title="Home of the famous Crispy Noodle Salad">View recipe</a>
                                    </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>


</div>
</section>
