<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro hasActiveDescendant(entry) %}{% for child in entry.children %}{% if child.url == page.url or (hasActiveDescendant(child) | trim | length > 0) %}1{% endif %}{% endfor %}{% endmacro %}
{% macro renderNavListItem(entry) -%}
{% set isActive = entry.url == page.url or (entry.url != '/' and page.url.startsWith(entry.url)) or (hasActiveDescendant(entry) | trim | length > 0) %}
<li{% if entry.children.length %} class="parent{% if isActive %} active-class{% endif %}" aria-haspopup="true"{% elif isActive %} class="active-class"{% endif %}>
{% if entry.noLink %}
<span class="nav-section-header">{{ entry.title }}</span>
{% else %}
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
{% endif %}




    {% if entry.children.length %}
       <ul class='second-level'>
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {%- endmacro %}



<ul class='navbar-menu'>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}

<li class="search-icon"><a title="Click for search" id="open-modal" aria-controls="my-modal" aria-haspopup="dialog" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="11" cy="11" r="7"></circle><path stroke-linecap="round" d="m20 20l-3-3"></path></g></svg></a></li>

</ul>
</nav>

 