{% extends "layouts/grid-default.njk" %}



{% block bodyclass %}<body class="nohero {{ class }}" >{% endblock %}

 {% block hero %}
 {% endblock %}

{% block content %}

<div class="container">
<div class="pad6rem"></div>
    <main class="content" data-pagefind-body>
        <img src="{{ image or metadata.image }}" alt="" data-pagefind-meta="image[src]" style="display:none">

        <div class="maincontent">{{ content | safe }}</div>
		
    </main>
</div>

{% endblock %}