<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% block headmeta %} {% include "components/grid-head.njk" %} {% endblock %}
  {% block bodyclass %}
  <body class=" {{ class }} ">
    {% endblock %}

    {% block offcanvas %}
    <nav class="offcanvas">
      <div class="close-nav-wrapper">
        <button class="close-nav">Close Menu X</button>
      </div>

      <div id="menu_vert">
        <div class="mobilemenu">
          {% include "components/grid-nav-side.njk" %}
        </div>
      </div>

      <div class="grid-2-mobilenav">
        <div class="smalltextwrapper">
          <h3>Follow us @</h3>
        </div>

        <div class="mobilewrapper">
          <ul class="infoboxmobile">
          

            <li>
              <a
                class="social-icon"
                title="Follow us on Instagram"
                href="https://www.instagram.com/ChangsAsianFood/"
                target="_blank">
                {% include "components/global/instagram24.html" %}
              </a>
            </li>

          
            <li>
              <a
                class="social-icon"
                title="Follow us on Facebook"
                href="https://www.facebook.com/changsasianfood"
                target="_blank">
               {% include "components/global/facebook24.html" %}
              </a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block header %}
    <header id="header" class="topbar headerwrapper">
      <div class="hamburger">
        <div class="toggle-nav" aria-label="Toggle Navigation">
          <span class="hamburger-icon"></span>
          <span class="title-bar-title"></span>
        </div>
      </div>
      <div class="navwrapper">
        <div class="logo">
          <a
            href="/"
            title="Return to the homepage | Chang’s is more than just a brand with great products, it’s a lifelong passion to share our love for food and Asian cooking with Australians."
            id="logo"
            class="logolink"
          >
            <img
              src="https://ik.imagekit.io/webtactics/changs-media/tr:w-260,h-69/Logo_8VlN-CEGY.png?updatedAt=1711437150532"
              alt="Chang's Flavours of Asia"
              title="Chang's Flavours of Asia"
              height="69px"
              width="260px"
            />
          </a>
        </div>

        <div class="navrightside hide-for-scroll hide-for-small">
          <div class="navrightsidetopline hide-for-scroll hide-for-small">
            <ul class="infobox">
              <li>
                <a
                  class="social-icon hide-for-scroll hide-for-small"
                  title="Follow us on Facebook"
                  href="https://www.facebook.com/changsasianfood"
                  target="_blank">
                  {% include "components/global/facebook24.html" %}
              </a>
              </li>

              <li>
                <a
                  class="social-icon hide-for-scroll hide-for-small"
                  title="Follow us on Instagram"
                  href="https://www.instagram.com/ChangsAsianFood/"
                  target="_blank"
                >
                  {% include "components/global/instagram24.html" %}
              </a>
              </li>

              <li>
                <a
                  class="text-icon hide-for-small"
                  href="{{metadata.url}}/contact/"
                  title="Contact Chang's Flavours of Asia"
                  >Contact</a
                >
              </li>

              <li class="hide-for-small"><a class="text-icon smooth-scroll" href="#newsletter" class="text-icon hide-for-small" title="Join Chang's Flavours of Asia Newsletter">Sign up to our newsletter</a></li>
            </ul>
          </div>
          <div class="navrightsidebottomline hide-for-small">
            <nav class="navbar hide-for-small">
              {% include "components/grid-nav-top.njk" %}
            </nav>
          </div>
        </div>
      </div>

      <div class="pad100"></div>
    </header>
    {% endblock %}

    {% block headerspace %}
      <div class="headerspace {{ class }}"></div>
    {% endblock %}

    {% block hero %} {% endblock %}

    {% block redgradient %}
      <div class="redgradient">
        <div class="redgradientcontent">
          <div class="redgradientcontentwrapper">
            <h1 style="text-align:center;" class="text-center white">{{ title }}</h1>
            <div class="redgradientcontenttextbox">
              <p style="text-align:center;" class="text-center white">{% if subtitle %}{{ subtitle }}{% else %}{{ description }}{% endif %}</p>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

 {% block pagenav %}{% include "components/buttonnav.njk" %}{% endblock %}




{% block content %}

<div class="container">

    <main class="content" data-pagefind-body>
        <img src="{{ image or metadata.image }}" alt="" data-pagefind-meta="image[src]" style="display:none">

        <div class="maincontent">{{ content | safe }}</div>
		
    </main>
</div>

{% endblock %}

    {% block content2 %}{% endblock %}
    {% block content3 %}{% endblock %}

    {% block newsletter %}
    <div
      class="section emailbg"
      style="background: url(https://ik.imagekit.io/webtactics/changs-media/assets/emailbg-1920x500-q80_iXS9Av4aF.jpg?updatedAt=1711759387818)
        no-repeat center center;
        width: 100%;
        background-size: cover;">

      <div class="content emailbgcontainer">
        <div class="content emailbox">
          <div id="newsletter">
            <h3 class="emailboxh3">Sign up to our newsletter</h3>
          </div>
          <p class="black">Experience a feast for the senses!<br/>Sign up for Chang’s newsletter to savour delectable recipes, insightful content, exclusive offers, and gourmet inspirations.</p>

          <form
            class="js-cm-form"
            id="subForm"
            action="https://www.createsend.com/t/subscribeerror?description="
            method="post"
            data-id="191722FC90141D02184CB1B62AB3DC264B74E952808CB200D8BC61F27AF28712143C55C9F567AA38691DEB3E5E734BAE24819DEA669A3C1D93B6176A2F484E15"
          >
            <div class="grid-5-2-columns">
              <div class="emailbgrowleft">
                <div class="emailbgrowlefttop">
                  <label class="custom-field" aria-label="Enter your name">
                    <input
                      class="emailbginput"
                      id="fieldName"
                      maxlength="200"
                      name="cm-name"
                      placeholder="Your name"
                      required=""
                      onfocus="if(this.value==this.defaultValue) this.value='';"
                      onblur="if(this.value=='') this.value=this.defaultValue;"
                      type="text"
                    />
                  </label>
                </div>
                <div class="emailbgrowleftbottom">
                  <label
                    class="custom-field"
                    aria-label="Enter your email address"
                  >
                    <input
                      autocomplete="Email"
                      class="js-cm-email-input qa-input-email emailbginput"
                      id="fieldEmail"
                      maxlength="200"
                      name="cm-ttululd-ttululd"
                      placeholder="Enter your email address"
                      required=""
                      type="email"
                    />
                  </label>
                </div>
                <div class="hidden emailhidden">
                  <label
                    class="custom-field"
                    aria-label="Confirm your email address"
                  >
                    <input
                      class="hidden emailbginput"
                      id="fieldtyflhl"
                      maxlength="200"
                      name="cm-f-tyflhl"
                      type="text"
                      placeholder="Enter your email address"
                    />
                  </label>
                </div>
              </div>
              <div class="emailbgrowright">
                <button
                  class="success fullwidth"
                  type="submit"
                  title="Sign up to our newsletter"
                  alt="Sign up to our newsletter"
                >
                  Subscribe
                </button>
                <script
                  type="text/javascript"
                  src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"
                ></script>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block wtb %}
      <div class="section wtb">
        <div class="content wtbbox">
          <div class="changs-house">
            <img
              src="https://ik.imagekit.io/webtactics/changs-media/assets/icons/changs-house_TDHjAI3I5.png?updatedAt=1711837505969"
              alt="Chang's Flavours of Asia"
              title="Chang's Flavours of Asia"
              width="79px"
              height="124px"
            />
          </div>

          <h3 class="red text-center">Where to find us</h3>

          <div class="grid-3-wtb">
            <div class="wtbbox1">
              <a class="wtb-image" href="https://www.coles.com.au/brands/changs-3028503409" title="Buy Chang's Flavours of Asia @ Coles" alt="Buy Chang's Flavours of Asia @ Coles" target="_blank"><img src="https://ik.imagekit.io/webtactics/changs-media/assets/Coles_uvl4RvWPs.png?updatedAt=1711260670046" alt="Buy Chang's Flavours of Asia @ Coles" title="Buy Chang's Flavours of Asia @ Coles" height="98px" width="222px" class="coles"></a>
            </div>

            <div class="wtbbox2">
              <a class="wtb-image" href="https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s" title="Buy Chang's Flavours of Asia @ Woolworths" alt="Buy Chang's Flavours of Asia @ Woolworths" target="_blank"><img src="https://ik.imagekit.io/webtactics/changs-media/assets/woolworths_lrWT-TfFW.png?updatedAt=1711260670361" alt="Buy Chang's Flavours of Asia @ Woolworths" title="Buy Chang's Flavours of Asia @ Woolworths" height="98px" width="351px" class="woolworths"></a>
            </div>

            <div class="wtbbox3">
              <a class="wtb-image" href="https://www.igashop.com.au/search/1?q=chang%27s" title="Buy Chang's Flavours of Asia @ IGA" alt="Buy Chang's Flavours of Asia @ IGA" target="_blank"><img src="https://ik.imagekit.io/webtactics/changs-media/assets/IGA_tURSJy7ve.png?updatedAt=1711260670327" alt="Buy Chang's Flavours of Asia @ IGA" title="Buy Chang's Flavours of Asia @ IGA" height="98px" width="151px" class="iga"></a>
            </div>
          </div>

          <div class="wtbbox4">
            <div class="wtbboxwrapper">
              <div class="wtbbox4a">
                <p class="black text-center">Find Chang’s in major supermarkets, and speciality & independent grocery stores.</p>
              </div>
              <div class="text-centerflex">
                <a href="/contact/" class="button success" title="Learn more about where to buy Chang's" alt="Learn more about where to buy Chang's">Contact us to learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block footer %}
    <footer class="footernavwrapper">
      <div class="footernav">
        <div class="navwrapper">
          <div class="logo">
            <a href="/" title="Return to the homepage | Chang's Flavours of Asia" id="logo-footer">
              <img src="https://ik.imagekit.io/webtactics/changs-media/tr:w-260,h-69/Logo_8VlN-CEGY.png?updatedAt=1711437150532" alt="Chang's Flavours of Asia" title="Chang's Flavours of Asia" height="59px" width="221px">
            </a>
          </div>

          <div class="navrightside">
            <div class="navrightupperspace"></div>

            <div class="navrightsidetopline">
              <ul class="infobox">
                <li>
                  <a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank">
                   {% include "components/global/facebook24.html" %}
                  </a>
                </li>
                <li>
                  <a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/ChangsAsianFood/" target="_blank">
                     {% include "components/global/instagram24.html" %}
                  </a>
                </li>
                <li><a class="text-icon" href="{{metadata.url}}/contact" title="Contact Chang's Flavours of Asia">Contact</a></li>
                <li class="hide-for-small"><a class="text-icon smooth-scroll" href="#newsletter" class="text-icon hide-for-small" title="Join Chang's Flavours of Asia Newsletter">Sign up to our newsletter</a></li>
                <li><a class="text-icon" href="{{metadata.url}}/changs-tv " title="Great Asian Anyone Can Understand">Changs TV</a></li>
                <li><a class="text-icon" href="/why-changs/" title="The story of Chang's Flavours of Asia">About</a></li>
              </ul>
            </div>

            <div class="navrightsidebottomline">
              <nav class="navbar">
                <p>© Copyright 2004-{% year %} - Chang's Authentic Asian Cooking Est 1968</p>
              </nav>
            </div>

            <div class="navrightlowerspace"></div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block modal %}
    <dialog id="my-modal" class="search-modal" aria-label="Search">
      <div class="modal-content">
        <button id="close-modal" class="modal-close" title="Close search" aria-label="Close search">&times;</button>

<div class="modal-body">
  <h3>Chang's Search Section</h3>
      <p>This search field queries the website, products and recipes.</p>


        <form class="search-modal-form" role="search" action="/search/" method="get">
          <label for="modal-search-input" class="visually-hidden">Search</label>
          <input type="search" id="modal-search-input" name="q" placeholder="Search Chang's Flavours of Asia">
          <button type="submit" class="success">Search</button>
        </form>
        </div>
      </div>
    </dialog>
    {% endblock %}
{% block js %}
    {% include "components/grid-js.njk" %}
    {% endblock %}
  </body>
</html>
