{% extends "layouts/grid-default.njk" %}



{% block bodyclass %}<body class="nohero {{ class }}" >{% endblock %}

 {% block hero %}
 {% endblock %}

 {% block pagenav %}

<div class="container">
		<div class="content buttonnavbox hide-for-small">
			<div class="buttonnav hide-for-small">
				 
							
<div class="buttonnavwrapper">
<button class="{% if page.url == '/why-changs/' %} currentpage{% endif %}"><a class="{% if page.url == '/why-changs/' %} currentpage{% endif %}" href="/why-changs/">About Us</a></button>
<button class="{% if page.url == '/why-changs/sustainability/' %} currentpage{% endif %}"><a class="{% if page.url == '/why-changs/sustainability/' %} currentpage{% endif %}" href="/why-changs/sustainability/">Sustainability</a></button>
<button class="{% if page.url == '/why-changs/privacy-policy/' %} currentpage{% endif %}"><a class="{% if page.url == '/why-changs/privacy-policy/' %} currentpage{% endif %}" href="/why-changs/privacy-policy/">Privacy Policy</a></button>
</div>
										</div>
		</div>

		<div class="selectnavbox hide-for-large">
		
			<div class="selectboxwrapper hide-for-large">
			<p>Check out our section below, or narrow your search using one of the selector options.</p>
			 
						
  
<div class="selectbox">
	<select name="forma" onchange="location = this.value;">
		<option disabled="disabled" {% if page.url != '/why-changs/' and page.url != '/why-changs/sustainability/' and page.url != '/why-changs/privacy-policy/' %}selected="selected"{% endif %} value="">-- Select Section --</option>
		<option value="/why-changs/" {% if page.url == '/why-changs/' %}selected="selected"{% endif %}>About Us</option>
		<option value="/why-changs/sustainability/" {% if page.url == '/why-changs/sustainability/' %}selected="selected"{% endif %}>Sustainability</option>
		<option value="/why-changs/privacy-policy/" {% if page.url == '/why-changs/privacy-policy/' %}selected="selected"{% endif %}>Privacy Policy</option>
	</select>
</div>

		</div>
		</div>

	</div>


{% endblock %}