{% extends "layouts/grid-default.njk" %}


{% block hero %}
 
{% include "components/grid-hero.njk" %}

{% endblock %}

    {% block redgradient %}
      <div class="redgradient">
        <div class="redgradientcontent home">
          <div class="redgradientcontentwrapper">
           
{% include "components/global/homeboxes.html" %}

          </div>
        </div>
      </div>
    {% endblock %}

 {% block pagenav %}{% endblock %}

{% block content %}{% endblock %}



{% block content2 %}

<div class="container">

	<div class="content home">

		<div class="changs-house">
    		<img src="https://ik.imagekit.io/webtactics/changs-media/assets/icons/changs-bowl_pyS8wDFp1.png?updatedAt=1711837496199" alt="Chang's Flavours of Asia" title="Chang's Flavours of Asia" width="106px" height="79px">
		</div>

		<h3 class="text-center">Latest Recipes</h3>
          
	{% set postslist = collections['Recipes'] | reverse | skip(2) | limit(3) %}
	{% include "components/postlist/postslist-recipes-3-wide-nofadein.njk" %}

		<div class="wtbbox4">
    		<div class="wtbboxwrapper">
         		<div class="text-centerflex">
            		<a href="/recipes/" class="button success" title="View all recipes" alt="View all recipes">View all recipes > </a>
        		</div>
    		</div>
		</div>

	</div>

</div>

{% endblock %}