{% extends "layouts/grid-default.njk" %}





{% block bodyclass %}<body class="products {{ class }}" >{% endblock %}





{% block content %}
<div class="container">
	<main class="content">

{{ content | safe }}


	</main>
</div>



{% endblock %}




