{% extends "layouts/grid-default.njk" %}



{% block bodyclass %}<body class="detail {{ class }}" >{% endblock %}

{% block hero %}{% endblock %}
{% block redgradient %}{% endblock %}
{% block pagenav %}{% endblock %}

