{% extends "layouts/grid-default.njk" %}


{% block content %}

<div class="container">

    <main class="content sidebar" data-pagefind-body>
        <img src="{{ image or metadata.image }}" alt="" data-pagefind-meta="image[src]" style="display:none">

        <div class="grid-2-sidebar">
			
			<div class="maincontent contentleft">
				{{ content | safe }}
			</div>
			<div class="sidebarcontent">
				{% set postslist = collections['Gluten Free Product'] | intersection(collections['Products']) |  randomLimit(3, page.url)  %}
				{% include "components/postlist/postslist-products-sidebar.njk" %}
			</div>
		</div>

		
    </main>
</div>

{% endblock %}

{% block content2 %}

<div class="container">

	<div class="content home">

		<div class="changs-house">
    		<img src="https://ik.imagekit.io/webtactics/changs-media/assets/icons/changs-bowl_pyS8wDFp1.png?updatedAt=1711837496199" alt="Chang's Flavours of Asia" title="Chang's Flavours of Asia" width="106px" height="79px">
		</div>

		<h3 class="text-center">Latest Gluten Free Recipes</h3>
          
	{% set postslist = collections['Gluten-Free'] | union(collections['Gluten Free Variation']) | limit(3) %}
	{% include "components/postlist/postslist-recipes-3-wide-nofadein.njk" %}

		<div class="wtbbox4">
    		<div class="wtbboxwrapper">
         		<div class="text-centerflex">
            		<a href="/recipes/gluten-free-recipes/" class="button success" title="View all recipes" alt="View all recipes">View all Gluten Free Recipes > </a>
        		</div>
    		</div>
		</div>

	</div>

</div>

{% endblock %}