{% extends "layouts/grid-default.njk" %}



{% block bodyclass %}<body class="detail {{ class }}" >{% endblock %}

{% block hero %}{% endblock %}
{% block redgradient %}{% endblock %}
{% block pagenav %}{% endblock %}

{% block content %}

<div class="container">

    <main class="content detail" data-pagefind-body>
        <img src="{{ image or metadata.image }}" alt="" data-pagefind-meta="image[src]" style="display:none">

        <div class="maincontent">{{ content | safe }}</div>
		
    </main>
</div>

{% endblock %}


{% block js %}
    {% include "components/grid-js.njk" %}
    <script type="text/javascript" src="https://www.changs.com/assets/js/changs.js"></script>
<script type="text/javascript" src="https://www.changs.com/assets/js/lightbox-plus-jquery.min.js"></script>
    {% endblock %}


