---
layout: layouts/grid-detail.njk
section: post
---



<div class="detailwrapper news">
  <article>
  
      <div class="item postdetail">

        <div class="detailcontent">

          <div class="recipedetailtitle">
<h1>{{ title }}</h1>
</div>

     <div class="youtubesummary">
	<div class="recipesvideocontent">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe id="video" class="embed-responsive-item" src="{{ youtube }}" frameborder="0" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
        </div>
      </div>
        

  </article>
</div>

{% if tags %}
<div class="componenth3 tagged">
<h3>Video Tags</h3>
{% include "components/global/tagged.html" %}
</div>
{% endif %}