---
layout: layouts/grid-detail.njk
section: post
---

<div class="grid-2-detail-default">

  <div class="recipedetailtitle hide-for-large padsmall">
    <h1>{{ title }}</h1>
  </div>

  <div class="recipes-ingredients padsmall">

    <div class="recipedetailtitle show-for-large hide-for-small">
      <h1>{{ title }}</h1>
    </div>

    {% if gtin %}
    <div class="gtin">
      <h3>GTIN: <span class="gtinbold">{{ gtin }}</span></h3>
    </div>
    {% endif %}

    {% if summary %}
    <div class="CGBlogDetailSummary padtop20">
      {{ summary | safe }}
    </div>
    {% endif %}

    {% if content %}
    <div class="CGBlogDetailContent recipelist">
      {{ content | safe }}
    </div>
    {% endif %}

    <!-- start accordion below -->
    <div class="accordion">

      {% if ingredients %}
<div class="accordion-item">
<input id="accordion-trigger-1" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-1">Product Ingredients</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                {{ ingredients | safe }}
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}




      {% if nutritiontext and not nutrition.EnergyAvgQuantityPerServing %}
<div class="accordion-item">
<input id="accordion-trigger-2" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-2">Nutritional Information</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                {{ nutritiontext | safe }}
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}



   {% if nutrition.EnergyAvgQuantityPerServing %}
<div class="accordion-item">
<input id="accordion-trigger-3" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-3">Nutritional Information</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
             <div class="accordion-content">
            <!-- start accordion below -->
           
    
            <div class="nutritionservetitle product-title">Product name: {{ title }} </div>
            {% if Servingsperpackage or Servingsize %}
                <div class="nutritionservetitle">{% if Servingsize %}Serve size: {{ Servingsize }}{% endif %}</div>
          
            <div class="nutritionservetitle">Serves per pack: {{ Servingsperpackage }}</div>
        
            
            {% endif %}
            <div class="grid-4-prod-detail">
            <div class="nutritionquantity"></div>
            <div class="nutritionquantity text-left">Avg Quantity Per Serving</div>
            <div class="nutritionquantity text-center">% Daily Intake</div>
            <div class="nutritionquantity text-right">Avg Quantity per 100g</div>
            </div>
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Energy:</div>
            <div class="nutritiontitle text-left">{% if nutrition. EnergyAvgQuantityPerServing %}{{ nutrition. EnergyAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.EnergyperDailyIntakes %}{{ nutrition.EnergyperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.EnergyAvgQuantityPer100g %}{{ nutrition.EnergyAvgQuantityPer100g }}{% endif %}</div>
            </div>
             {% if nutrition.ProteinAvgQuantityPerServing %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Protein:</div>
            <div class="nutritiontitle text-left">{% if nutrition.ProteinAvgQuantityPerServing %}{{ nutrition.ProteinAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.ProteinperDailyIntakes %}{{ nutrition.ProteinperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.EnergyAvgQuantityPer100g %}{{ nutrition.EnergyAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %}

            {% if nutrition.FatAvgQuantityPerServing %} 
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Fat, total:</div>
            <div class="nutritiontitle text-left">{% if nutrition.FatAvgQuantityPerServing %}{{ nutrition.FatAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.FatperDailyIntakes %}{{ nutrition.FatperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.FatAvgQuantityPer100g %}{{ nutrition.FatAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %}
         
           {% if nutrition.FatSaturatedAvgQuantityPerServing %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">- Saturated:</div>
            <div class="nutritiontitle text-left">{% if nutrition.FatSaturatedAvgQuantityPerServing %}{{ nutrition.FatAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.FatSaturatedperDailyIntakes %}{{ nutrition.FatSaturatedperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.FatSaturatedAvgQuantityPer100g %}{{ nutrition.FatSaturatedAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %}   

     {% if nutrition.TransSaturatedAvgQuantityPerServing or TransSaturatedperDailyIntakes or TransSaturatedAvgQuantityPer100g %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Trans:</div>
            <div class="nutritiontitle text-left">{% if nutrition.TransSaturatedAvgQuantityPerServing %}{{ nutrition.TransAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.TransSaturatedperDailyIntakes %}{{ nutrition.TransSaturatedperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.TransSaturatedAvgQuantityPer100g %}{{ nutrition.TransSaturatedAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %} 

         {% if nutrition.PolySaturatedAvgQuantityPerServing or PolySaturatedperDailyIntakes or PolySaturatedAvgQuantityPer100g %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">-Polyunsaturated:</div>
            <div class="nutritiontitle text-left">{% if nutrition.PolySaturatedAvgQuantityPerServing %}{{ nutrition.PolyAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.PolySaturatedperDailyIntakes %}{{ nutrition.PolySaturatedperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.PolySaturatedAvgQuantityPer100g %}{{ nutrition.PolySaturatedAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %} 

      {% if nutrition.MonoSaturatedAvgQuantityPerServing or MonoSaturatedperDailyIntakes or MonoSaturatedAvgQuantityPer100g %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">-Monounsaturated:</div>
            <div class="nutritiontitle text-left">{% if nutrition.MonoSaturatedAvgQuantityPerServing %}{{ nutrition.MonoAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.MonoSaturatedperDailyIntakes %}{{ nutrition.MonoSaturatedperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.MonoSaturatedAvgQuantityPer100g %}{{ nutrition.MonoSaturatedAvgQuantityPer100g }}{% endif %}</div>
            </div>    
            {% endif %}
        
 
            {% if nutrition.CarbohydratesAvgQuantityPerServing %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Carbohydrate:</div>
            <div class="nutritiontitle text-left">{% if nutrition.CarbohydratesAvgQuantityPerServing %}{{ nutrition.CarbohydratesAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.CarbohydratesperDailyIntakes %}{{ nutrition.CarbohydratesperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.CarbohydratesAvgQuantityPer100g %}{{ nutrition.CarbohydratesAvgQuantityPer100g }}{% endif %}</div>
            </div>     
            {% endif %}
             {% if nutrition.SugarsAvgQuantityPerServing %} 
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">- Sugars:</div>
            <div class="nutritiontitle text-left">{% if nutrition.SugarsAvgQuantityPerServing %}{{ nutrition.SugarsAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.SugarsperDailyIntakes %}{{ nutrition.SugarsperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.SugarsAvgQuantityPer100g %}{{ nutrition.SugarsAvgQuantityPer100g }}{% endif %}</div>
            </div>     
            {% endif %}
             {% if nutrition.SodiumAvgQuantityPerServing %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Sodium:</div>
            <div class="nutritiontitle text-left">{% if nutrition.SodiumAvgQuantityPerServing %}{{ nutrition.SodiumAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.SodiumperDailyIntakes %}{{ nutrition.SodiumperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.SodiumAvgQuantityPer100g %}{{ nutrition.SodiumAvgQuantityPer100g}}{% endif %}</div>
            </div>     
            {% endif %}
            
    {% if nutrition.DietaryFibreAvgQuantityPerServing or nutrition.DietaryFibreperDailyIntakes or nutrition.DietaryFibreAvgQuantityPer100g  %}  
            <div class="grid-4-prod-detail">
            <div class="nutritiontitle">Dietary Fibre:</div>
            <div class="nutritiontitle text-left">{% if nutrition.DietaryFibreAvgQuantityPerServing %}{{ nutrition.DietaryFibreAvgQuantityPerServing }}{% endif %}</div>
            <div class="nutritiontitle text-center">{% if nutrition.DietaryFibreperDailyIntakes %}{{ nutrition.DietaryFibreperDailyIntakes }}{% endif %}</div>
            <div class="nutritiontitle text-right">{% if nutrition.DietaryFibreAvgQuantityPer100g %}{{ nutrition.DietaryFibreAvgQuantityPer100g}}{% endif %}</div>
            </div>     
            {% endif %}
                  <!-- end accordion below -->   
          </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}





      {% if gmo or halal or kosher or additional_origin or origin %}
<div class="accordion-item">
<input id="accordion-trigger-4" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-4">Additional Information</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                {% if gmo %}
                <div class="CGBlogDetailNutrition">
                  <div class="grid-1-2-prod-detail">
                    <div class="nutritiontitle">GMO Status</div>
                    <div class="nutritiontitle">{{ gmo }}</div>
                  </div>
                </div>
                {% endif %}
                {% if halal %}
                <div class="CGBlogDetailNutrition">
                  <div class="grid-1-2-prod-detail">
                    <div class="nutritiontitle">Halal Status</div>
                    <div class="nutritiontitle">{{ halal }}</div>
                  </div>
                </div>
                {% endif %}
                {% if kosher %}
                <div class="CGBlogDetailNutrition">
                  <div class="grid-1-2-prod-detail">
                    <div class="nutritiontitle">Kosher Status</div>
                    <div class="nutritiontitle">{{ kosher }}</div>
                  </div>
                </div>
                {% endif %}
                {% if additional_origin %}
                <div class="CGBlogDetailNutrition">
                  <div class="grid-1-2-prod-detail">
                    <div class="nutritiontitle">Additional Information:</div>
                    <div class="nutritiontitle">{{ additional_origin }}</div>
                  </div>
                </div>
                {% endif %}
                {% if origin %}
                <div class="CGBlogDetailNutrition">
                  <div class="grid-1-2-prod-detail-noborder">
                    <div class="col-xs-4"><p>Country of origin:</p></div>
                    <div class="col-xs-8"><p>{{ origin }}</p></div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}

      {% if allergen %}
<div class="accordion-item">
<input id="accordion-trigger-5" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-5">Allergen Information</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                {{ allergen | safe }}
                {% if nuts == false %}
                This product is nut free
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}

      {% if packsizes %}
<div class="accordion-item">
<input id="accordion-trigger-6" class="accordion-trigger-input" type="checkbox"></input>
<label class="accordion-trigger" for="accordion-trigger-6">Available Pack Sizes</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                This product is available in {{ packsizes }} pack sizes
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endif %}

    </div>
    <!-- end accordion above -->


    {# Buy from buttons — show based on which retailers are flagged true #}
    {% if coleslink and woolworthslink and igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="button product coles expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/coles-product-40_Nyp-F2hr5.png?updatedAt=1760137045985" alt="Buy {{ title }} at Coles"></span></a>
        </div>
        <div class="buyfrom">
          <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="button product woolworths expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/woolworths-product-40_1eF3iwKib.png?updatedAt=1760137045986" alt="Buy {{ title }} at Woolworths"></span></a>
        </div>
        <div class="buyfrom">
          <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="button product iga expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/IGA-product-40_DoqscnyLi.png?updatedAt=1760137045986" alt="Buy {{ title }} at IGA"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="supermarketlink"><span>Coles</span></a>, <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="supermarketlink"><span>Woolworths</span></a> and <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="supermarketlink"><span>select IGA</span></a> stores.</p>
    </div>

    {% elif not coleslink and not woolworthslink and igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="button product iga expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/IGA-product-40_DoqscnyLi.png?updatedAt=1760137045986" alt="Buy {{ title }} at IGA"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="supermarketlink"><span>select IGA</span></a> stores.</p>
    </div>

    {% elif not coleslink and woolworthslink and not igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="button product woolworths expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/woolworths-product-40_1eF3iwKib.png?updatedAt=1760137045986" alt="Buy {{ title }} at Woolworths"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="supermarketlink"><span>Woolworths</span></a> stores.</p>
    </div>

    {% elif coleslink and not woolworthslink and not igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="button product coles expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/coles-product-40_Nyp-F2hr5.png?updatedAt=1760137045985" alt="Buy {{ title }} at Coles"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="supermarketlink"><span>Coles</span></a> stores.</p>
    </div>

    {% elif coleslink and not woolworthslink and igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="button product coles expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/coles-product-40_Nyp-F2hr5.png?updatedAt=1760137045985" alt="Buy {{ title }} at Coles"></span></a>
        </div>
        <div class="buyfrom">
          <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="button product iga expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/IGA-product-40_DoqscnyLi.png?updatedAt=1760137045986" alt="Buy {{ title }} at IGA"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="supermarketlink"><span>Coles</span></a> and <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="supermarketlink"><span>select IGA</span></a> stores.</p>
    </div>

    {% elif coleslink and woolworthslink and not igalink %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="button product coles expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/coles-product-40_Nyp-F2hr5.png?updatedAt=1760137045985" alt="Buy {{ title }} at Coles"></span></a>
        </div>
        <div class="buyfrom">
          <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="button product woolworths expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/woolworths-product-40_1eF3iwKib.png?updatedAt=1760137045986" alt="Buy {{ title }} at Woolworths"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if coleslink %}{{ coleslink }}{% else %}https://www.coles.com.au/brands/changs-3028503409{% endif %}" title="Buy {{ title }} at Coles" target="_blank" class="supermarketlink"><span>Coles</span></a> and <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="supermarketlink"><span>Woolworths</span></a> stores.</p>
    </div>

    {% elif not coles and woolworths and iga %}
    <div class="buyfromwrapper pad2remboth">
      <p><strong>Buy now at</strong></p>
      <div class="grid-3-buttons">
        <div class="buyfrom">
          <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="button product woolworths expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/woolworths-product-40_1eF3iwKib.png?updatedAt=1760137045986" alt="Buy {{ title }} at Woolworths"></span></a>
        </div>
        <div class="buyfrom">
          <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="button product iga expand"><span><img class="product-image" src="https://ik.imagekit.io/webtactics/changs-media/assets/IGA-product-40_DoqscnyLi.png?updatedAt=1760137045986" alt="Buy {{ title }} at IGA"></span></a>
        </div>
      </div>
      <p>Available at <a href="{% if woolworthslink %}{{ woolworthslink }}{% else %}https://www.woolworths.com.au/shop/search/products?searchTerm=Chang%27s{% endif %}" title="Buy {{ title }} at Woolworths" target="_blank" class="supermarketlink"><span>Woolworths</span></a> and <a href="{% if igalink %}{{ igalink }}{% else %}https://www.igashop.com.au/search/1?q=chang%27s{% endif %}" title="Buy {{ title }} at IGA" target="_blank" class="supermarketlink"><span>select IGA</span></a> stores.</p>
    </div>

    {% endif %}


    {% if gluten_free %}
    <div class="pad2remboth">
      <p><strong>Please note:<br></strong>Foods carrying a gluten-free claim must have been tested and found to contain "<strong>No detectable</strong>" gluten. By law, however, the manufacturer is still required to list ALL ingredients, which can cause confusion.</p>
      <p>For more information, please visit our <a href="/gluten-free/">Gluten Free</a> section.</p>
    </div>
    {% endif %}



{% if galleryimages %}
 <div class="gallery">
  <div class="pad2remboth"><p><strong>{{ title }} Product Gallery</strong></p></div>
{% include "components/gallery-products.njk" %}
</div>
{% endif %}

    {% if lowercontent %}
    <div class="pad2remboth">
      {{ lowercontent | safe }}
    </div>
    {% endif %}

  </div>

  <div class="DetailImage">
    <div align="center">
      <img class="product-detail-image" src="{{ image }}/tr:w-800,h-800,q-90" alt="{{ title | escape }}" title="{{ title | escape }}"/>
    </div>
  </div>

</div>


<!-- product below -->

<div class="padsmall">


  {% set postslist = collections[title] | intersection(collections['Recipes']) | reverse | limit(16) %}
  {% if postslist.length %}
  <div class="recipes-from-products pad2remboth">
    <h4>Recipes featuring Chang's {{ title }}</h4>
    {% include "components/postlist/postslist-recipes-4-wide-nofadein.njk" %}

<div class="pad3rem text-leftflex">
<a href="{{metadata.url}}/tagged/{{ title | safeSlug }}/" class="button success" title="For all recipes using {{ title }}" alt="For all recipes using {{ title }}">For all recipes using {{ title }}</a>
</div>

</div>
  {% endif %}


</div>