---
layout: layouts/grid-detail.njk
section: post
---



<div class="detailwrapper news">
  <article>
  
      <div class="item postdetail">

        <div class="detailcontent">

      
            {{ content | safe }}
        </div>
      </div>
        

  </article>
</div>


{% include "components/global/tagged.html" %}